html,
body {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}
body {
  background: linear-gradient(112deg, #ffffff 49%, #000000 49%);
}

.grid-container {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66%;
  column-gap: 0;
  row-gap: 30px;
  height: 100vh;
}

.grid-LeftTitle {
  grid-column: 1/4;
  grid-row: 2/4;
  text-align: center;
  align-self: center;
}
.grid-LeftTitle h1{
  font-size: calc(3vw + 3vh);
}

.grid-LeftButton {
  grid-column: 1/4;
  grid-row: 3/5;
  text-align: center;
  align-self: center;
}

.LeftButton{
  font-size: 1.5vh;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  color: #000000;
  background-color: #ffffff;
  border: 0.3vh solid #000000;
  cursor: pointer;
  transition: all 0.3s ease;

}

.LeftButton:hover{
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}
.LeftButton:active {
  background-color: #000000;
  border-color: #000000;
}

.grid-Logo {
  grid-column: 4/6;
  grid-row: 2/5;
  text-align: center;
  align-self: center;
}
.Logo{
  width: calc(14vw + 16vh);;
}

.grid-RightTitle {
  grid-column: 6/9;
  grid-row: 2/4;
  text-align: center;
  align-self: center;
  
}
.grid-RightTitle h1{
  font-size: calc(3vw + 3vh);
  color: #ffae00;
}

.grid-RightButton {
  grid-column: 6/9;
  grid-row: 3/5;
  text-align: center;
  align-self: center;
}

.RightButton{
  font-size: 1.5vh;
  padding-left: 1.2vw;
  padding-right: 1.2vw;
  color: #ffae00;
  background-color: transparent;
  border: 0.3vh solid #ffae00;
  cursor: pointer;
  transition: all 0.3s ease;
}

.RightButton:hover{
  background-color: #ffae00;
  color: #ffffff;
  border-color: #ffae00;
}
.RightButton:active {
  background-color: #ffae00;
  border-color: #ffae00;
}



@keyframes fadeInOut {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

div {
  animation: fadeInOut 2s linear forwards;
}