@import url('https://fonts.googleapis.com/css?family=VT323');


html,
body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  height: 100%;
  background-color: rgb(50, 50, 50);
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
}

section{
  height: 100%;
  width: 100%;
  bottom: 20vh;
}

html {
  scroll-behavior: smooth;
}

* {
  border: 0;
  margin: 0;
}

strong {
  color: orangered;
}

.dot {
  display: block;
  left: 20vw;
  margin-bottom: 4vh;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 50%;
  border: 0.4vh solid #ffffff;
  cursor: pointer;
  -o-transition: width 0.3s, height 0.3s;
  -webkit-transition: width 0.3s, height 0.3s;
  -moz-transition: width 0.3s, height 0.3s;
  -ms-transition: width 0.3s, height 0.3s;
  transition: width 0.3s, height 0.3s;
}

.dot:hover {
  background-color: #ffffff;
  width: 1vw;
  height: 1vw;
}

.dot:active{
  background-color: rgb(255, 255, 255);
  width: 0.5vw;
  height: 0.5vw;
}

.highlight{
  background-color: rgb(255, 255, 255);
  width: 0.5vw;
  height: 0.5vw;
}


#sideDotNavbar {
  position: fixed;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.grid-container {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  column-gap: 0;
  row-gap: 0;
  height: 100vh;
}

.Guide{
  grid-column: 8;
  grid-row: 6/9;
  margin: auto;
  padding-left: 6vw;
  
}
.Guide h1{
  -ms-writing-mode:vertical-rl;
  -webkit-writing-mode:vertical-rl;
  writing-mode:vertical-rl;
  color: #ff4500;
  font-size: 2vw;
  opacity: 0.5;
}


.MainPageParagraph {
  grid-column: 3/7;
  grid-row: 3/6;
  text-align: center;
  align-self: center;
}

.MainPageParagraph h1 {
  color: #ffffff;
  font-size: 10vw;
  font-family: "Baloo 2", sans-serif;
  font-weight: 800;
}

.MainPageSmallDescribe {
  grid-column: 3/7;
  grid-row: 6;
  text-align: center;
  align-self: center;
}

.MainPageSmallDescribe h1 {
  color: #ffffff;
  font-size: calc(1vw + 1vh);
  align-self: center;
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
}

.MainPageNavBar {
  grid-column: 1/3;
  grid-row: 4/6;
}

.grid-AboutMe {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  column-gap: 0;
  row-gap: 0;
  height: 100vh;
}


.AboutMe-Image {
  height: auto;
  width: auto;
  color: #ffffff;
  padding-right: 18vw;
  display:grid;
  align-items: center;
  align-self: center;
  align-content: center;
}

.AboutMe-Image .niceBack{
  height: 20vw;
  top: 20vh;
  margin: auto;
  width: 20vw;
  border: 1vw solid white;
  border-radius: 25px;
  
  z-index: 0;
}

.AboutMe-Image img {
  position: relative;
  margin: auto;
  right: -20%;
  bottom: -20%;
  width: 20vw;
  height: 20vw;
  -o-border-radius: 15%;
  -webkit-border-radius: 15%;
  -moz-border-radius: 15%;
  -ms-border-radius: 15%;
  border-radius: 15%;
  z-index: 1;
}




.AboutMe-Title {
  grid-column: 1/11;
  grid-row: 2;
  text-align: center;
  align-self: center;
}

.AboutMe-Title h1 {
  font-size: 3vw;
  color: #ffffff;
  text-align: center;
  align-self: center;
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  z-index: 1;

}


.AboutMe-Paragraph {
  grid-column: 6/9;
  grid-row: 5/8;
  text-align: center;
  align-self: center;

}

.AboutMe-Paragraph p {
  font-size: 0.8vw;
  text-align: center;
  color: #ffffff;
}






.CV-Download {
  flex: 1;
  padding: 0.5vh 1vw;
  margin: 1vw;
  border-radius: 999px;
  border: 0.5vh solid #ff4500;
  font-family: 'Baloo 2', monospace;
  font-size: 1vw;
  white-space: nowrap;
  color: #fff;
  background: transparent;
  background-image: url(../img/BtnFill.png);
  background-repeat: repeat-x;
  background-position: 0 -100%;
  transition: 1.5s ease;

  &:hover {
    background-position: 500% 0%;
  }
  
  @for $i from 0 through 18 {
    &:nth-child(#{$i}) {
      filter: hue-rotate(($i * 20) + deg);
    }
  }
}






.grid-MyPortfolio {
  margin-top: 20vh;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  column-gap: 0;
  row-gap: 0;
  height: 100vh;
}

.portfolio-Title {
  grid-column: 4/8;
  grid-row: 2;
  margin: auto;
  color: #ffffff;

}

.Portfolio-r1-c1-Photo {
  margin: auto;
  grid-column: 3/6;
  grid-row: 4;
  position: relative;
}

.Portfolio-r1-c1-Photo img {
  width: 12vw;
  height: 12vw;
  display: block;
  -o-border-radius: calc(1vw + 1vh);
  -webkit-border-radius: calc(1vw + 1vh);
  -moz-border-radius: calc(1vw + 1vh);
  -ms-border-radius: calc(1vw + 1vh);
  border-radius: calc(1vw + 1vh);
}

.Portfolio-r1-c1-Photo:hover .PF-D-overlay {
  opacity: 1;
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}







.Portfolio-r1-c2-Photo {
  margin: auto;
  grid-column: 4/8;
  grid-row: 4;
  position: relative;
}

.Portfolio-r1-c2-Photo img {
  width: 12vw;
  height: 12vw;
  display: block;
  -o-border-radius: calc(1vw + 1vh);
  -webkit-border-radius: calc(1vw + 1vh);
  -moz-border-radius: calc(1vw + 1vh);
  -ms-border-radius: calc(1vw + 1vh);
  border-radius: calc(1vw + 1vh);
}

.Portfolio-r1-c2-Photo:hover .PF-D-overlay {
  opacity: 1;
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}










.Portfolio-r1-c3-Photo {
  margin: auto;
  grid-column: 5/10;
  grid-row: 4;
  position: relative;
}

.Portfolio-r1-c3-Photo img {
  width: 12vw;
  height: 12vw;
  display: block;
  -o-border-radius: calc(1vw + 1vh);
  -webkit-border-radius: calc(1vw + 1vh);
  -moz-border-radius: calc(1vw + 1vh);
  -ms-border-radius: calc(1vw + 1vh);
  border-radius: calc(1vw + 1vh);
}

.Portfolio-r1-c3-Photo:hover .PF-D-overlay {
  opacity: 1;
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}






.Portfolio-r2-c1-Photo {
  margin: auto;
  grid-column: 3/6;
  grid-row: 8;
  position: relative;
}

.Portfolio-r2-c1-Photo img {
  width: 12vw;
  height: 12vw;
  display: block;
  -o-border-radius: calc(1vw + 1vh);
  -webkit-border-radius: calc(1vw + 1vh);
  -moz-border-radius: calc(1vw + 1vh);
  -ms-border-radius: calc(1vw + 1vh);
  border-radius: calc(1vw + 1vh);
}

.Portfolio-r2-c1-Photo:hover .PF-D-overlay {
  opacity: 1;
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}







.Portfolio-r2-c2-Photo {
  margin: auto;
  grid-column: 4/8;
  grid-row: 8;
  position: relative;
}

.Portfolio-r2-c2-Photo img {
  width: 12vw;
  height: 12vw;
  display: block;
  margin: auto;
  -o-border-radius: calc(1vw + 1vh);
  -webkit-border-radius: calc(1vw + 1vh);
  -moz-border-radius: calc(1vw + 1vh);
  -ms-border-radius: calc(1vw + 1vh);
  border-radius: calc(1vw + 1vh);
}

.Portfolio-r2-c2-Photo:hover .PF-D-overlay {
  opacity: 1;
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}







.Portfolio-r2-c3-Photo {
  margin: auto;
  grid-column: 5/10;
  grid-row: 8;
  position: relative;
}

.Portfolio-r2-c3-Photo img {
  width: 12vw;
  height: 12vw;
  display: block;
  -o-border-radius: calc(1vw + 1vh);
  -webkit-border-radius: calc(1vw + 1vh);
  -moz-border-radius: calc(1vw + 1vh);
  -ms-border-radius: calc(1vw + 1vh);
  border-radius: calc(1vw + 1vh);
}

.Portfolio-r2-c3-Photo:hover .PF-D-overlay {
  opacity: 1;
  -o-transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}


.PF-D-overlay {
  position: absolute;
  bottom: 1.5vh;
  left: 0;
  right: 0;
  background: rgba(50, 50, 50, 1);
  margin-left: auto;
  margin-right: auto;
  color: rgb(255, 255, 255);
  width: 80%;
  padding: 0.5vw;
  -o-transition: opacity 0.5s ease, transform 0.5s ease;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
  -moz-transition: opacity 0.5s ease, transform 0.5s ease;
  -ms-transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;

  -o-border-radius: calc(2vh);
  -webkit-border-radius: calc(2vh);
  -moz-border-radius: calc(2vh);
  -ms-border-radius: calc(2vh);
  border-radius: calc(2vh);
}




.Portfolio-Number {
  grid-column: 5/7;
  grid-row: 9;
  margin: auto;
  color: #ffffff;
  font-size: calc(0.7vw + 0.7vh);
  text-align: center;
  align-self: center;
}


.grid-MyFooter {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  column-gap: 0;
  row-gap: 0;
  height: 10vh;
  background-color: rgb(0, 0, 0)255, 255, 255;

}


.MyFooter {
  grid-column: 4/8;
  grid-row: 1/5;
  margin: auto;

}

.MyFooter p {
  color: #ffffff;
  font-size: calc(0.5vw + 0.5vh);
}

.social-links {
  color: #ffffff;
  margin: auto;
  grid-column: 4/8;
  grid-row: 3/6;
}

#particles-js {
  grid-column: 1/11;
  grid-row: 1/9;
  position: relative;
  z-index: 0;
}

#Yang{
  color: orangered;
}

.PF-D-overlay h1{
  font-size: 1.5vw;

}

.PF-D-overlay p{
  font-size: 0.75vw;

}

.CV-Download h1{
  font-size: 1.5vw;
}